[submodule "PKGBUILD/freecad-git"]
	path = PKGBUILD/freecad-git
	url = https://aur.archlinux.org/freecad-git.git
[submodule "freecad-git-opt"]
	path = PKGBUILD/freecad-git-opt
	url = https://github.com/adrianinsaval/freecad-git-AUR.git
	branch = freecad-git-opt
