[submodule "PKGBUILD/freecad-git"]
	path = PKGBUILD/freecad-git
	url = https://aur.archlinux.org/freecad-git.git
[submodule "PKGBUILD/freecad-git-opt"]
	path = PKGBUILD/freecad-git-opt
	url = https://github.com/adrianinsaval/freecad-git-AUR.git
	branch = freecad-git-opt
[submodule "PKGBUILD/xflr5"]
	path = PKGBUILD/xflr5
	url = https://aur.archlinux.org/xflr5.git
[submodule "PKGBUILD/openfoam-com"]
	path = PKGBUILD/openfoam-com
	url = https://aur.archlinux.org/openfoam-com.git
[submodule "PKGBUILD/parmetis"]
	path = PKGBUILD/parmetis
	url = https://aur.archlinux.org/parmetis.git
[submodule "PKGBUILD/scotch"]
	path = PKGBUILD/scotch
	url = https://aur.archlinux.org/scotch.git
[submodule "PKGBUILD/gmsh"]
	path = PKGBUILD/gmsh
	url = https://aur.archlinux.org/gmsh.git
[submodule "PKGBUILD/freecad-linkdaily"]
	path = PKGBUILD/freecad-linkdaily
	url = https://github.com/adrianinsaval/freecad-git-AUR.git
	branch = freecad-linkdaily
